html {
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  height: 4rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}

p {
  font-size: 1.2rem;
  font-family: var(--font-text);
  font-weight: 400;
  line-height: 115%;
}

button {
  padding: 0.8rem 1.3rem 0.7rem;
  border-radius: 2rem;
  border: none;
  font-size: 1em;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

:root {
  --black: #000000;
  --dark: #0b0c0e;
  --white: #ffffff;
  --light: #f1f1f1;
  --light-gray: #bbbbbb;
  --dark-gray: #414141;
  --gray-black: #212121;
  --testimonial-bg: #141415;
}

:root {
  --font-heading: "Work Sans", sans-serif;
  --font-text: "League Spartan", sans-serif;
}

.horizontal-separator {
  width: 100%;
  height: 1px;
  background: var(--dark-gray);
}

.hero-section {
  width: 100%;
  height: calc(100vh - 4rem);
  height: calc(100dvh - 4rem);
  color: var(--black);
  background-image: url(../../assets/images/josh-nuttall-eTrHMJwI5ro-unsplash.png);
  background-size: cover;
  background-position: center;
  padding: 3rem;
  display: flex;
  align-items: end;
}
.hero-section .hero-texts .hero-heading {
  font-size: 5rem;
  color: var(--white);
  font-family: var(--font-heading);
  font-weight: 400;
}
.hero-section .hero-texts .horizontal-separator {
  margin: 1rem 0 2rem;
}
.hero-section .hero-texts .hero-para {
  display: flex;
}
.hero-section .hero-texts .hero-para p {
  width: 55%;
  color: var(--light-gray);
}
.hero-section .hero-texts .hero-para .hero-cta-button {
  flex-grow: 0;
  margin: auto 3rem auto auto;
  font-size: 0.95rem;
  color: var(--light-gray);
  background: var(--gray-black);
}

header {
  background: var(--black);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2.5rem;
}
header .contact,
header nav {
  color: var(--light-gray);
  font-family: var(--font-text);
  font-size: 1.1rem;
  font-weight: 300;
}
header .brand {
  color: var(--white);
  font-size: 2rem;
  font-weight: 600;
}
header nav ul {
  display: flex;
  gap: 1rem;
}
header .contact,
header .brand,
header ul li {
  cursor: pointer;
}

.features {
  padding: 6rem 3rem;
  color: var(--dark);
}
.features .features-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
}
.features .features-grid .feature .feature-heading {
  font-size: 3rem;
  font-weight: 500;
}
.features .features-grid .feature p {
  margin-top: 1rem;
}
.features .feature-carbon-fiber {
  margin-top: 10rem;
  display: flex;
  justify-content: space-between;
}
.features .feature-carbon-fiber .carbon-fiber-text-content {
  width: 110%;
  padding-right: 5rem;
  margin-right: 3rem;
  border-right: 1px solid var(--light-gray);
  display: flex;
  flex-direction: column;
}
.features .feature-carbon-fiber .carbon-fiber-text-content h4 {
  font-size: 3.5rem;
  font-weight: 500;
}
.features .feature-carbon-fiber .carbon-fiber-text-content p {
  margin: auto 4rem 2rem 0;
}
.features .feature-carbon-fiber .carbon-fiber-text-content .pre-order-button {
  width: max-content;
  color: var(--light-gray);
  background: var(--dark);
  font-weight: 600;
}
.features .feature-carbon-fiber .carbon-fiber-image {
  width: 100%;
  aspect-ratio: 1;
  border-radius: 50%;
  background-image: url("../../assets/images/josh-nuttall-zkVi57UYHIQ-unsplash.png");
  background-size: cover;
  background-position: center;
}

.testimonials-section {
  background: var(--dark);
  border-radius: 2rem;
  overflow: hidden;
}
.testimonials-section .testimonials-top {
  padding: 7rem 3rem 20rem;
  background-image: url("../../assets/images/josh-nuttall-XVTWFHcNIko-unsplash.png");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.testimonials-section .testimonials-top .testimonials-heading {
  font-size: 4rem;
  font-weight: 400;
  color: var(--white);
}
.testimonials-section .testimonials-top p {
  margin-top: 2.5rem;
  max-width: 24rem;
  text-align: center;
  color: var(--light-gray);
}
.testimonials-section .testimonials-top .button-testimonials {
  margin-top: 1.5rem;
  font-size: 0.95rem;
  color: var(--light-gray);
  background: var(--gray-black);
  outline: 1px solid var(--dark-gray);
}
.testimonials-section .testimonials {
  padding: 0 3rem 7rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 2rem;
}
.testimonials-section .testimonials .testimonial {
  background: var(--testimonial-bg);
  padding: 1.5rem;
  border-radius: 1rem;
  color: var(--light-gray);
  display: flex;
  flex-direction: column;
}
.testimonials-section .testimonials .testimonial .testimonial-heading {
  display: flex;
  gap: 0.8rem;
}
.testimonials-section .testimonials .testimonial .testimonial-heading img {
  width: 3rem;
  aspect-ratio: 1;
}
.testimonials-section .testimonials .testimonial .testimonial-heading .testimonial-attestant {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.1rem;
}
.testimonials-section .testimonials .testimonial .testimonial-heading .testimonial-attestant .attestant-name {
  font-size: 1.1rem;
  font-weight: 500;
}
.testimonials-section .testimonials .testimonial .testimonial-heading .testimonial-attestant div {
  font-size: 0.8rem;
}
.testimonials-section .testimonials .testimonial .review {
  margin: 1rem 0;
  font-size: 1.1rem;
  font-weight: 300;
}
.testimonials-section .testimonials .testimonial .social-icons {
  margin-top: auto;
  display: flex;
  gap: 1rem;
}
.testimonials-section .testimonials .testimonial .social-icons img {
  width: 1.4rem;
  aspect-ratio: 1.05;
  cursor: pointer;
}
.testimonials-section .testimonials .testimonial-2 {
  grid-row: span 2;
}
.testimonials-section .testimonials .testimonial-2 .testimonial-heading .testimonial-attestant div {
  font-size: 0.9rem;
  font-family: var(--font-heading);
}

.detailed-features-section {
  padding: 7rem 3rem 5rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
}
.detailed-features-section .detailed-features-intro {
  grid-column: span 2;
  padding-right: 3rem;
  display: flex;
  flex-direction: column;
}
.detailed-features-section .detailed-features-intro h3 {
  font-size: 3rem;
  font-weight: 500;
  line-height: 100%;
}
.detailed-features-section .detailed-features-intro p {
  margin-top: auto;
  padding-right: 4rem;
  font-size: 1.1rem;
  font-weight: 300;
}
.detailed-features-section .detailed-feature {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  border-left: 1px solid var(--light-gray);
}
.detailed-features-section .detailed-feature h5 {
  font-size: 0.9rem;
  font-weight: 500;
}
.detailed-features-section .detailed-feature .detailed-feature-heading {
  font-size: 2rem;
  font-weight: 600;
}
.detailed-features-section .detailed-feature .detailed-feature-image {
  margin-top: 10rem;
  width: 5rem;
}
.detailed-features-section .detailed-feature p {
  margin-top: 2rem;
  font-size: 1.1rem;
  font-weight: 300;
}