@use "../utils" as u;

.hero-section {
  width: 100%;
  height: calc(100vh - u.$header-height);
  height: calc(100dvh - u.$header-height);
  color: var(--black);
  background-image: url(../../assets/images/josh-nuttall-eTrHMJwI5ro-unsplash.png);
  background-size: cover;
  background-position: center;
  padding: 2rem;
  display: flex;
  align-items: end;

  .hero-texts {
    .hero-heading {
      font-size: 5rem;
      color: var(--white);
      font-family: var(--font-heading);
      font-weight: 400;
    }
    .horizontal-seperator {
      margin: 1rem 0 2rem;
    }
    .hero-para {
      display: flex;
      p {
        width: 55%;
        color: var(--light-gray);
      }
      .hero-cta-button {
        flex-grow: 0;
        margin: auto 3rem auto auto;
        color: var(--light-gray);
        background: var(--dark-gray);
      }
    }
  }
}
