.biko-details-section {
  padding: 0 3rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  font-family: var(--font-text);

  .biko-details-group {
    padding: 0 2rem;
    display: flex;
    justify-content: space-around;
    gap: 0.8rem;

    .biko-details-subgroup {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      gap: 0.8rem;

      div {
        display: flex;
        align-items: center;
        gap: 0.3rem;
        font-size: 1.1rem;

        .details-icon {
          max-height: 1rem;
          max-width: 1.5rem;
          padding-bottom: 0.1rem;
        }
      }
      .specs {
        font-size: 2rem;
      }
    }
  }
  .biko-details-group:not(:last-child) {
    border-right: 1px solid var(--light-gray);
  }
  .biko-details-group:is(:last-child) {
    padding: 0 3rem;
    align-self: center;
  }
}
