@use "../utils" as u;

header {
  background: var(--black);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 u.$px-sm;
  .contact,
  nav {
    color: var(--light-gray);
    font-family: var(--font-text);
    font-size: 1.1rem;
    font-weight: 400;
  }
  .brand {
    color: var(--white);
    font-size: 2rem;
    font-weight: 600;
  }

  nav {
    ul {
      display: flex;
      gap: 1rem;
    }
  }
  .contact,
  .brand,
  ul li {
    cursor: pointer;
  }

  @include u.breakpoint-sm {
    padding: 0 u.$px-xs;
    .contact {
      display: none;
    }
    .brand {
      font-size: 1.8rem;
    }
    .nav {
      ul {
        font-size: 0.9rem;
      }
    }
  }
}
