@use "../utils/" as u;

.showcase-images-section-1 {
  padding: 3rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;

  .showcase-image {
    max-width: 100%;
  }
  .showcase-image-3 {
    grid-column: span 2;
  }
}

.showcase-images-section-2 {
  padding: 3rem 3rem 5rem;

  .showcase-image-4 {
    max-width: 100%;
  }
}

@include u.breakpoint-md {
  .showcase-images-section-1 {
    padding: u.$px-md;
  }
  .showcase-images-section-2 {
    padding: 3rem u.$px-md 5rem;
  }
}

@include u.breakpoint-sm {
  .showcase-images-section-1 {
    padding: u.$px-sm;
  }
  .showcase-images-section-2 {
    padding: 3rem u.$px-sm 4rem;
  }
}

@include u.breakpoint-xs {
  .showcase-images-section-1 {
    padding: u.$px-xs;
    grid-template-columns: repeat(1, 1fr);

    .showcase-image-3 {
      grid-column: span 1;
    }
  }
  .showcase-images-section-2 {
    padding: 3rem u.$px-xs 4rem;
  }
}
